.wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem 0;

 
}

.logo {
  width: 100px;
  padding:0.5rem
}

:global([data-theme="light"]) .logo {
  filter: invert(1);
}
