.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: var(--base-100) 0;
  width: 100%;
  transition: height 0.3s ease, padding 0.3s ease;
  height: var(--header-height-expanded);
  position: relative;
  z-index: 100;
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1;
}

.scrolledDown .header {
  display:none;
  height: calc(var(--header-height-expanded) / 2);
  padding: var(--base-25) 0;
  justify-content: flex-end;
  position: relative;
}

.scrolledDown .logo,
.scrolledDown .navContainer,
.scrolledDown .languageSwitcher {
  display: none;
}

.hamburgerContainer {
  display: none;
  align-items: center;
  margin-left: auto;
}

.scrolledDown .hamburgerContainer {
  display: flex;
  position: absolute;
  top: var(--base-25);
  right: var(--base-25);
}

.hamburgerBg {
  background-color: var(--color-white);
  border-radius: var(--rounded-md);
}

.logo {
  width: 75px;
}

@media (max-width: 850px) {
  .header {
    height: calc(var(--header-height-expanded) / 2);
  }

  .logo {
    width: 75px;
  }

  .hamburgerContainer {
    display: flex;
  }
}
