 .inputWrap {
	 width: 100%;
}
 .input {
	 width: 100%;
	 font-family: system-ui;
	 border-radius: 0;
	 box-shadow: none;
	 border: var(--color-black) 0.5px solid;
	 /* height: var(--base-300); */
	 /* line-height: var(--base-300); */
	 padding: var(--base-50) var(--base-100);
}
 .input:focus {
	 outline: none;
}
 .input:-webkit-autofill, .input:-webkit-autofill:hover, .input:-webkit-autofill:focus {
	 -webkit-text-fill-color: var(--theme-text);
	 -webkit-box-shadow: 0 0 0px 1000px var(--theme-elevation-150) inset;
	 transition: background-color 5000s ease-in-out 0s;
}
 /* @media (prefers-color-scheme: dark) {
	 .input {
		 background-color: var(--theme-elevation-150);
	}
} */
 .error {
	 background-color: var(--theme-error-150);
}

 .label {
	 margin-bottom: var(--base-50);
	 display: block;
	 line-height: 1;
}

 .errorMessage {
	 font-size: small;
	 line-height: 1.25;
	 margin-top: 4px;
	 color: red;
}
 