
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--base-600);
}

.block {
  position: relative;
}

.block > * {
  margin-bottom: var(--base-100);
}

.title {
  font-weight: 600;
  margin-top:var(--base-300) 
}

.text > * {
  margin-bottom: var(--base-150);
}

.text {
  position: relative;
  max-width: 90%;
  margin:auto;


}

.textLast > * {
  margin-bottom: var(--base-150);
}

.textLast {
  max-width: 90%;
  margin:auto;
}


.image {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;
}

.imageLast {
  position: relative;

}

.imageLast img {
  object-fit: contain;
  width: 100%;
  height: auto;
}


.richText p {
  line-height: 1.5;
  margin-bottom:var(--base-100)
}

@media (max-width: 850px) {
  .grid {
    grid-template-columns: 1fr;
    gap: var(--base-100);
  }

  .title {
    font-weight: 600;
    margin-top:var(--base-200) 
  }

  .text {
    max-width: 100%;
  }
  
  .textLast {
    max-width: 100%;
    margin:auto;
    text-align: center;
  }
  
  
  .text > * {
    margin-bottom: var(--base-100);
  }
  
  
  .textLast > * {
    margin-bottom: var(--base-100);
  }
  
}