
.card {
  width: 100%;
  border: var(--color-gray) 0.5px solid;
  border-radius: var(--rounded-md);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 4px;
}

.avatar {
  position: absolute;
  top: -50%; 
  left: 50%; 
  transform: translateX(-50%); 
  width: 8rem; 
  height: 8rem; 
  border-radius: 100%;
  object-fit: cover;
}

.avatar img {
  border: var(--color-gray) 0.5px solid;
  border-radius: 100%;
  }

.content {
  position: relative;
  width: 100%;
  margin:auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  min-height: 20vh;
  /* text-align: center; */
  padding: var(--base-200) var(--base-300);
}

.info {
  margin-bottom:1rem;
}

.info h3 {
  line-height: 1.5;
  color:var(--color-gray);
  font-weight: 200;
  font-style: italic;
} 

.info > *   {
  margin-top: var(--base-150);
}

.stars {
  width: 100%;
  display: flex;
  text-align: left;
}

@media  (max-width: 850px) {
  .avatar {
    width: 6rem; 
    height: 6rem; 
  }

  .content {
    padding: var(--base-100) var(--base-150);
  }

  .info h4{
    line-height: 1.5;
    color:var(--color-gray);
    font-weight: 200;
    font-style: italic;
  } 
}