.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* background: linear-gradient(-45deg, var(--color-accent), var(--color-black));  color:var(--color-white); */
  color: var(--color-white);
  gap:var(--base-100);
}

.content {
  position: relative;
  margin: auto 0;
}

.content > * + * {
  margin-top: var(--base-150);
}

.line {
  position:relative;
  margin-top: var(--base-50);
}

.line::before {
  content: ""; 
  display: inline-block;
  width: 75px; 
  margin-right: 8px; 
  height: 1.5px; 
  background-color: var(--color-white); 
  vertical-align: middle;
}

.leftColumn {
  grid-column: span 2;
  max-width: 80%;
}

.image {
  position: relative;
  width:100%;
  aspect-ratio: 4/3;
}

.info {
  grid-column: span 3;
  margin-top:auto;
  margin-bottom:auto;
  margin-right:auto;
  /* max-width: 80%; */
}

.image img {
  aspect-ratio: 4/3;
}


@media (max-width: 850px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    gap:var(--base-200);
  }

  .content {
    margin: auto;
  }

  .info {
    margin:auto;
    max-width: 100%;
    grid-column: span 1;
    
  }
  
  .image {
    margin:auto;
  }
  
  .leftColumn {
    grid-column: span 1;
    max-width: 100%;
  }

  .image img {
    aspect-ratio: 1/1;
  }
  
}