
.bg {
  height:100vh;
  position:relative;
  clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%);
}

.footer {
  position:fixed;
  bottom: 0;
  height:100vh;
  width: 100%;
  /* background: linear-gradient(-90deg, var(--color-accent), var(--color-black)); */
  background-color: var(--color-accent);
  display: flex;
  color:var(--color-white);
}

.contentContainer {
  height: 100vh;
  position: sticky;
  top:calc(100vh - 100vh);
  display: flex;
}

.content {
  display:flex;
  flex-direction:column;
  flex-grow: 1;
  }

.footerNav {
  display: flex;
  justify-content: center; 
  flex-grow: 1;
  flex-direction: column;
}


.copyright {
  margin-top: auto; 
  /* display: flex; */
  flex-direction: column;
  align-items: center;}

.text  {
  color: var(--color-white);
  margin:auto;
}

.title {
  margin:auto;
  color: var(--color-white);
  grid-column: span 1; 
  text-transform: uppercase;
  padding:var(--base-100)
}

.titleElements {
  display: block;
}

.logo {
  margin:auto;
  border-top:1px solid var(--color-white);
  border-bottom:1px solid var(--color-white)
}

.link {
  text-decoration: underline;
  transition: opacity 0.3s ease;
  opacity:1
}

.link:hover {
  opacity:0.6
}


@media (max-width:1300px) {

  
  /* .bg {
    height:120vh;
  } */

  /* .footer {
    height: 100%;
  } */

  /* .spacer {
    display:none;
  } */
  

  
}