NEXT_PUBLIC_SITE_URL=https://e30gallery.com
NEXT_PUBLIC_FRONTEND_URL=https://e30gallery.com
NEXT_PUBLIC_PAYLOAD_URL=https://cms.e30gallery.com

PAYLOAD_API_KEY=
MAILERLITE_API_KEY=
MAILERLITE_BASE_URL=https://connect.mailerlite.com

NEXT_PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=

NEXT_PUBLIC_PLAUSIBLE_SRC=https://plausible.e30gallery.com/js/script.js
