{
    email contact@landozone.net
    admin localhost:2019

    log {
        output file /var/log/caddy/access.log {
            roll_size 100mb
            roll_keep 10
            roll_keep_for 720h
        }
        format json
        level INFO
    }
}

e30gallery.com, www.e30gallery.com {
    @www host www.e30gallery.com
    redir @www https://e30gallery.com{uri} permanent

    reverse_proxy {
        to localhost:5173 localhost:5174
        lb_policy first
        fail_duration 30s
        max_fails 3
        health_uri /
        health_interval 10s
        health_timeout 5s
        health_status 200

        header_up X-Forwarded-Port 443
    }

    encode gzip

    log {
        output file /var/log/caddy/e30gallery.log {
            roll_size 100mb
            roll_keep 5
            roll_keep_for 720h
        }
        format json
        level INFO
    }
}

cms.e30gallery.com, www.cms.e30gallery.com {
    @www host www.cms.e30gallery.com
    redir @www https://cms.e30gallery.com{uri} permanent

    reverse_proxy localhost:3000

    encode gzip

    log {
        output file /var/log/caddy/cms.log {
            roll_size 100mb
            roll_keep 5
            roll_keep_for 720h
        }
        format json
        level INFO
    }
}

plausible.e30gallery.com {
    reverse_proxy localhost:8000

    encode gzip

    log {
        output file /var/log/caddy/plausible.log {
            roll_size 100mb
            roll_keep 5
            roll_keep_for 720h
        }
        format json
        level INFO
    }
}
