.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 60vh;
  gap: var(--base-200);
}

.contentContainer {
  display: flex;

}

.content {
  position: relative;
  margin: auto 0;
}


.content > * + * {
  margin-top: var(--base-150);
}

.image {
  object-fit: cover;
  min-height: 30vh;
}

@media  (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .contentContainer {
    flex-direction: column;
  }
  .content {
    margin: auto;
  }
  
}