.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 60vh;
  gap: var(--base-300);
}

.contentContainer {
  display: flex;

}

.content {
  position: relative;
  margin: auto 0;
}


.content > * + * {
  margin-top: var(--base-150);
}

.image {
  object-fit: contain;
  min-height: 30vh;
}

.image img {
  object-fit: contain;

}

.order1 {
  order: 1;
}

.order2 {
  order: 2;
}

.marginLeft {
  margin-left: auto;
}

.links {
  display: flex;
  gap: var(--base-100);
}

@media  (max-width: 850px) {
  .grid {
    grid-template-columns: 1fr;
    gap: var(--base-150);
  }
  
  .contentContainer {
    flex-direction: column;
  }

  .content {
    margin: auto;
  }

  .order1 {
    order: 1;
  }
  
  .order2 {
    order: 1;
  }
  
}