.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 40vh;
}

.imageColumn {
  position: relative;
  aspect-ratio: 1/1;
}

.image {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
}

.title {
  text-align: center;
  padding: 0 var(--base-100);
}

.formColumn {
  justify-content: center;
  align-items: center;
  margin: auto;
}

.formContainer {
  width: 100%;
  min-width: 600px;
}

@media (max-width: 840px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .formContainer {
    min-width: 100%;
    padding: 0 var(--base-50);
  }

  .formColumn {
    margin:2rem auto;
  }

  .title {
    padding: 0 var(--base-50);
  }
}
