.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 40vh;
}

.imageColumn {
  position: relative;
  aspect-ratio: 1/1;

}

.image {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
}

.textOverlay {
  position: absolute;
  top: 66%; 
  left: 0;
  right: 0;
  transform: translateY(-50%); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  
  /* background: rgba(0, 0, 0, 0.5);  */
}

.title {
  text-align: center;
  padding:0 var(--base-100);
}

.formColumn {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  margin:auto;
}

.formContainer {
  width: 100%;
  min-width: 600px;
}

@media  (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    gap:0rem;
  }

  .imageColumn {
    padding-right: 6rem;
  }

  .image {
    grid-column: span 2;
    position: relative;
    height:100%;
    margin:auto 0;
  }

  .imageTopLeft {
    position: relative;
    width: 50%;
  }

  .imageBottomRight {
    position: relative;
    margin-left: auto;
    margin-top: -3rem;  
    z-index: -1; 
  }
  
  .textOverlay {
    width: 80%;
    margin:auto;
  }
  
  .title {
    padding:0 var(--base-200);
  }
  
  .formContainer {
    min-width: 300px;
  }

  .formColumn {
    margin:var(--base-200) auto;
  }
}