 .nav {
	 display: flex;
	 gap: calc(var(--base) / 4) var(--base);
	 align-items: center;
	 flex-wrap: wrap;
	 opacity: 1;
	 transition: opacity 0ms linear;
	 visibility: visible;

}
 .hide {
	 opacity: 0;
	 visibility: hidden;
}
 