.wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: var(--base-100) 0;
  background-color: var(--color-black);
}

.logo {
  width: 100px;
  padding:var(--base-50);
  filter: invert(1);
}

.nav {
  display: flex;
  align-items: center;
  gap: var(--base-200);
}


