.wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  /* padding: var(--base-100) 0; */
  background-color: var(--color-black);
}

.left {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap:1rem;
}

.logo {
  width: 100px;
  padding:var(--base-100);
  /* margin:2rem 0; */
}

.logo img {
  filter: invert(1);
}

.nav {
  display: flex;
  align-items: center;
  gap: var(--base-200);
}

.welcome {
  color: var(--color-white);
  border-left: var(--color-white) 1px solid;
  height: 100%;
}

.subtitle {
  margin-left:2rem;
}

@media (max-width: 850px) {
  .left {
    gap:0;
  }

  .welcome {
    border-left: var(--color-white) 0px solid;
  }
  
  .subtitle {
    margin-left:var(--base-50);
  }

  .logo {
    width: 75px;
    padding:var(--base-50)
  }
  .nav {
    gap: var(--base-100);
  }


}