
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: var(--base-300);
  min-height: 60vh;
}

.imageColumn {
  position: relative;
  order:1;
  min-height: 30vh;
}

.imageContainer {
  height: 100%;
}

.imageContainer img {
  object-fit: cover;
}

.imageContainer p {
  margin-top:auto;
}

.caption {
  display: block;
  margin-top: var(--base-50); 
}

.textContainer {
  display: flex;
  align-items: center;
  max-width: 70%;
  order:2
}

@media (max-width: 850px) {
  .grid {
    grid-template-columns: 1fr;
    gap: var(--base-100);
    min-height: 30vh;
  }

  .imageColumn {
    order:2;
  }
  
  .textContainer {
    max-width: 100%;
    order:1
  }
}