.main {
  min-height: 80vh;
  z-index: 100;
  /* position: relative; */
  background-color: var(--color-white);
  overflow: hidden;
}

.notFound {
  height: 70vh;
  display: flex;
  align-items: center;
}