.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 90px;
  background: var(--color-white);
  overflow: hidden;
  z-index: 10; 
  border-bottom: 0.5px solid var(--color-black);
}

.hamburgerContainer {
  position: fixed;
  top: calc(22px); 
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  z-index: 10; 
  background-color: var(--color-accent);
  border-radius: 50%;
}

.hamburger {
  outline: none;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background: transparent;
  padding:0.9rem;
}

.menu {
  z-index: 10; 
  width: 100%;
  display: flex;
  height: 90px;
}

.menuList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  width: 100%;
}

.logo {
  width: 75px;
}

.navbar-open {
  border-bottom: 0.5px solid var(--color-black);
}

.navbar-closed .menuList .menu {
  pointer-events: none;
}

/* @media (min-width: 850px) and (max-width: 1200px) {
  .hamburger {
    top: calc(22px) !important;
    right: calc(2vw) !important;
  }
}


@media (min-width: 1200px) and (max-width: 2000px) {
  .hamburger {
    top: calc(22px) !important;
    right: calc(1.0vw) !important;
  }
}


@media (min-width: 2000px) {
  .hamburger {
    top: calc(22px) !important;
    right: calc(1.3vw) !important;
  }
} */
