.exhibitionDetails {
  margin-bottom: var(--base-200);
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-black);
  padding-bottom: var(--base-50);
  margin-bottom: var(--base-150);
}

.navigationButtons {
  display: flex;
  gap: 1rem;
  margin-left: auto;
}

.backToListContainer {
  flex: 1;
  display: flex;
  justify-content: center;
}

.navigationButtons button {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
}



.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--base-200);
  margin: var(--base-300) 0;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--base-50);
}

.exhibitionDates {
  margin-bottom: var(--base-100);
}

.links {
  display: flex;
  flex-direction: row;
  gap: var(--base-100);
  margin-top: var(--base-100);
}


.image {
  object-fit: contain;
  min-height: 30vh;
}

.image img {
  object-fit: contain;

}


.exhibitions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--base-200);
  margin-top: var(--base-300);
}

.otherExhibitions {
  padding-top: var(--base-200);
}


.artistLink {
  font-weight: 600;
  font-size: var(--base-100);
  text-decoration: underline;
  transition: opacity 0.3s ease;
  opacity:1
}

.artistLink:hover {
  opacity:0.6
}

@media (max-width: 850px) {
  .grid {
    grid-template-columns: 1fr;
    gap: var(--base-150);
    margin: var(--base-150) 0;
  }
  
  .image {
    height: 300px;
    order: -1;
  }
  
  .exhibitions {
    grid-template-columns: 1fr;
  }
  
  .heading {
    display: grid;
    grid-template-areas: 
      "title title"
      "back nav";
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 0.5rem;
  }
  
  .backToListContainer {
    grid-area: back;
    justify-content: flex-start;
    margin: 0;
  }
  
  .navigationButtons {
    grid-area: nav;
    margin-left: auto;
  }
} 