  .grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap:var(--base-100);
  }
  
  .info {
    grid-column: span 3;
    margin:auto;
  }
  
  .content {
    position: relative;
    margin: auto 0;
  }
  
  .content > * + * {
    margin-top: var(--base-150);
  }

  .richTextFounders h4 {
    margin-top:4rem;
    margin-bottom:var(--base-100);
  }
  
  .flex {
    display: flex;
    flex-direction: column;
  }
  
  .image {
    grid-column: span 2;
    position: relative;
    height:100%;
    margin:auto 0;
  }

  .imageTopLeft {
    position: relative;
    width: 50%;
  }
  
  .imageBottomRight {
    position: relative;
    margin-left: 175px;
    margin-top: -var(--base-300);  
    z-index: -1; 
  }
   