  .grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap:var(--base-300);
  }
  
  .info {
    grid-column: span 3;
    margin:auto;
  }
  
  .content {
    position: relative;
    margin: auto 0;
  }
  
  .content > * + * {
    margin-top: var(--base-150);
  }

  .richTextFounders h4 {
    margin-top:var(--base-300);
    margin-bottom:var(--base-100);
  }
  
  .flex {
    display: flex;
    flex-direction: column;
  }

  .imageColumn {
    padding-right: 6rem;
  }
  
  .image {
    grid-column: span 2;
    position: relative;
    height:100%;
    margin:auto 0;
  }

  .imageTopLeft {
    position: relative;
    width: 50%;
  }
  
  .imageBottomRight {
    position: relative;
    margin-left: auto;
    margin-top: -3rem;  
    z-index: 5; 
  }
   

  @media  (max-width: 850px) {
    .grid {
      grid-template-columns: repeat(1, 1fr);
      gap:0rem;
    }

    .richTextFounders h4 {
      margin-top:var(--base-200);
    }
    
    
    .contentContainer {
      flex-direction: column;
    }

    .content {
      margin: 1rem auto 2rem auto;
    }

    .imageBottomRight {
      margin-top: 0rem;  
    }

    .imageColumn {
      padding-right: 0rem;
    } 
  }

  @media (min-width: 850px) and (max-width: 1080px) {
    .imageBottomRight {
      margin-top: 2rem;  
    }
  }