.main {
  min-height: 70vh;
  margin-top:90px;
  /* z-index: 100; */
  /* position: relative; */
  background-color: var(--color-white);
  overflow: hidden;
}

.notFound {
  height: 70vh;
  display: flex;
  align-items: center;
}


@media (max-width: 850px) {
  .main {
    margin-top: 0px;
  } 
}