.hero {
  position: relative;
  min-height: 75vh; 
  
}

.contentContainer {
  position: absolute;
  top: 50%; 
  right: 0;
  transform: translate(0, -50%); 
  /* text-align: right;  */
  max-width: 50%;
}

.content {
  position: relative;
  background-color:rgba(var(--color-white-rgb), 0.93);
  padding: var(--base-300);
  border-radius: var(--rounded-md);
  margin-left:auto;
}

.info {
  padding:var(--base-100);
}

.info > * + * {
  margin-top: var(--base-50);
}

.iconTopLeft {
  width: 20px;
}

.iconBottomRight { 
  width: 20px;
  transform: rotate(180deg);
  margin-left:auto;
}
