.hero {
  position: relative;
  padding: var(--base-300); 
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 75vh;
}

.contentContainer {
  position: relative;
  max-width: 50%;
  padding: var(--base-300); 
  background-color: rgba(var(--color-white-rgb), 0.90);
  border-radius: var(--rounded-md);
  box-sizing: border-box;
  margin-left:auto;
}

.content {
  position: relative;
}

.info {
  padding: var(--base-100);
}

.info > * + * {
  margin-top: var(--base-100);
}

.iconTopLeft {
  width: 20px;
}

.iconBottomRight {
  width: 20px;
  transform: rotate(180deg);
  margin-left: auto;
}



@media (max-width: 850px) {
  .hero {
    padding: var(--base-200) var(--base-100);
  }

  .contentContainer {
    max-width: 100%;
    padding: var(--base-100);
  }
}
