.hero {
  position: relative;
  min-height: 75vh; 
}

.contentContainer {
  position: absolute;
  top: 50%; 
  right: 0;
  transform: translate(0, -50%); 
  max-width: 50%;
}

.content {
  position: relative;
  background-color:rgba(var(--color-white-rgb), 0.93);
  padding: var(--base-300);
  border-radius: var(--rounded-md);
  margin-left:auto;
}

.info {
  padding:var(--base-100);
}

.info > * + * {
  margin-top: var(--base-100);
}

.iconTopLeft {
  width: 20px;
}

.iconBottomRight { 
  width: 20px;
  transform: rotate(180deg);
  margin-left:auto;
}

.paddingR {
	padding-right: var(--base-600);
}

@media (max-width: 768px) {
  .paddingR {
    padding-right: 0;
  }
  
  .contentContainer {
    max-width: 100%;
    padding:2rem;
  }

  .content {
    padding: var(--base-100);
  }
}

