.richText :first-child {
  margin-top: 0;
}

.richText a {
  text-decoration: underline;
  transition: opacity 0.3s ease;
  opacity:1
}

.richText a:hover {
  opacity:0.6
}



.richText h1 {
  font-size: var(--base-300);
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 1.5px;
  margin-bottom: var(--base-100);
}

.richText h2 {
  font-size: 2.25rem;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 1.5px;
  margin-bottom: var(--base-100);
}

.richText h3 {
  font-size: var(--base-150);
  line-height: 1.75;
  font-weight: 400;
}

.richText p {
  font-size: var(--base-100);
  line-height: 2;
  margin-bottom: var(--base-50);
}

.richText small {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

/* Responsive Styles for iPads and Mobile Devices */

@media (max-width: 850px) {
  .richText h1 {
    font-size: var(--base-200);
    margin-bottom: var(--base-50);
  }

  .richText h2 {
    font-size: var(--base-150);
    margin-bottom: var(--base-50);
  }

  .richText h3 {
    font-size: var(--base-100);
  }

  .richText p {
    font-size: var(--base-100);
    line-height: 1.5;
    margin-bottom: var(--base-25);
  }

  .richText small {
    font-size: 0.75rem;
  }
}
