/* Base Grid Styles */
.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  min-height: 60vh;
  /* gap: 1rem; */
}

.oneThird {
  grid-column: span 2;
}

.half {
  grid-column: span 3;
}

.twoThirds {
  grid-column: span 4;
}

.full {
  grid-column: span 6;
}

.textColumn {
  margin: auto;
  order: 1;
  width: 100%;
}

.textColumn > * + * {
  margin-top: var(--base-100);
}

.order1 {
  order: 1;
}

.order2 {
  order: 2;
}

.title {
  text-transform: uppercase;
}

.imageColumn {
  position: relative;
  aspect-ratio: 1 / 1;
}

.imageColumn img {
  object-fit: cover;
}

@media (max-width: 850px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .oneThird {
    grid-column: span 3;
  }

  .half {
    grid-column: span 3;
  }

  .twoThirds {
    grid-column: span 3;
  }

  .full {
    grid-column: span 3;
  }

  .order1 {
    order: 1;
  }
  
  .order2 {
    order: 1;
  }
  
}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .oneThird,
  .half,
  .twoThirds,
  .full {
    grid-column: span 1;
  }

  .textColumn,
  .imageColumn {
    padding-right: var(--base-200);
    padding-left: var(--base-200);
  }
}
