.artists {
	border-bottom: var(--color-black) 1px solid;
  margin:var(--base-200) 0;
}

.work {
	border-bottom: var(--color-black) 1px solid;
  margin:var(--base-200) 0;
}

.heading {
  display:flex;
  justify-content: space-between;
  /* font-weight: 600;  */
  margin-bottom:var(--base-50);
}

.filterControls {
  display:flex;
  justify-content: space-between;
  gap:var(--base-100);
  color:var(--color-gray);
  font-weight: 300;
}

.active  {
  color:var(--color-black);
  font-weight: 600;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap:var(--base-600);
  min-height: 30vh;
  margin:var(--base-100) 0;
}

.grid img {
  object-fit: contain;
  margin-left:auto;
}


.list {
  column-count: 2; 
}

.list li {
  margin-bottom:var(--base-50);
}

.list button  {
  display: block;
  text-align: left;
}

.artwork {
  position: relative;
}

.image {
  /* min-height: 30vh; */
  height: 100%;
  position: relative;
  object-fit: cover;
}

.imageArtist {
  min-height: 30vh;
  position: relative;
  margin-top:var(--base-100);
  object-fit: cover;
}

.navigationButtons {
  display:flex;
  justify-content: space-between;
  gap:var(--base-100);

}

.disabled {
  color:var(--color-gray);
  font-weight: 300;
  cursor: not-allowed;
}

.additionalInfo {
  color:var(--color-gray);
  font-style: italic;
}


@media screen and (max-width: 850px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    margin:var(--base-100) 0;
    gap:var(--base-300);
  }

  .list {
    column-count: 1; 
  }

  
  .work {
    margin:var(--base-100) 0;
  }

  
  .list {
    grid-template-columns: repeat(1, 1fr);
  }

  .list > * + * {
    margin-top:var(--base-50);
  }
  
}