

.bg.blue {
  background-color: var(--color-accent); 
}

.bg.white {
  background-color: var(--color-white);
  border-top: 1px solid var(--color-black);
  border-bottom: 1px solid var(--color-black);
}

.bg.black {
  background-color: var(--color-black);
}

.cta {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  position: relative;
}

.content {
  grid-column: span 2; 
  margin: auto 0;
}

.content > * + * {
  margin-top: var(--base-100);
}


.image {
  position: relative;
  min-height: 25vh;
}

.image img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.titleElements {
  display: block;
}



@media (max-width: 830px) {
  .cta {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;

  }
  
  .content {
    grid-column: span 1;
  }
}
