
@import "./preflight.css";
@import "./carousel.css";

:root {
	--color-black: #151515;
	--color-gray: #A9A9A9;
	--color-white: #F5F5F5;
	--color-white-rgb: 245, 245, 245;
	--color-gray-rgb: 169, 169, 169;
	--rounded-md: 4px;
	--rounded-lg: 8px
}

/* * {
	outline: gray solid 1px;
} */

/* Typography */

h1 {
  font-size: 3rem;
	line-height: 1.2;
  font-weight: 700; 
	letter-spacing: 1.5px;
}

h2 {
  font-size: 2.25rem; 
  line-height: 1.2;
  font-weight: 700; 
	letter-spacing: 1.5px;
}

h3 {
  font-size: 1.5rem; 
	line-height: 1.4;
  font-weight: 500; 
}


p {
  font-size: 1rem; 
  line-height: 1.5;
}

small {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.italic {
	font-style: italic; 
}

.light {
	font-weight: 300; 
}

.bold {
	font-weight: 700; 
}

.semibold {
	font-weight: 600; 
}

.uppercase {
	text-transform: uppercase;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.spacedTitle {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 5px;
  font-size:2.25rem;
  line-height: 1.2;
}

.centered {
	margin: auto;
	text-align: center;
	width: 100%;
}

/* Layout */

.flex {
	display: flex;
	flex-direction: column;
}

.block {
	display: block;
}

.right {
	margin-left: auto;
	text-align: right;

}

.container {
	padding: 0 6rem;
}

.padding-y {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.padding-y-sm {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.padding-x {
	padding-left: 3rem;
	padding-right: 3rem;
}

.padding-r {
	padding-right: 6rem;
}

.padding-l {
	padding-left: 6rem;
}

.padding-t {
	padding-top: 3rem;
}

.padding-b {
	padding-bottom: 3rem;
}

.object-cover {
	object-fit: cover;
}

.order1 {
  order: 1;
}

.order2 {
  order: 2;
}

.iconTopLeft {
  width: 20px;
}

.iconBottomRight { 
  width: 20px;
  transform: rotate(180deg);
  margin-left:auto;
}

.rounded {
	border-radius: 100%;
}

.relative {
	position: relative;
}

/* Color */

.gray {
	color: var(--color-gray);
}

.border-t-black {
	border-top: var(--color-black) 1px solid;
}

.border-b-black {
	border-bottom: var(--color-black) 1px solid;
}


/* 
 :root {
	 --base: 24px;
	 --font-body: system-ui;
	 --font-mono: 'Roboto Mono', monospace;
	 --gutter-h: 180px;
	 --block-padding: 120px;
}

 * {
	 box-sizing: border-box;
}

 html {
	 background: var(--theme-bg);
	 -webkit-font-smoothing: antialiased;
}
 html, body, #app {
	 height: 100%;
}
 body {
	 font-family: var(--font-body);
	 margin: 0;
	 color: var(--theme-text);
}
 ::selection {
	 background: var(--theme-success-500);
	 color: var(--color-base-800);
}
 ::-moz-selection {
	 background: var(--theme-success-500);
	 color: var(--color-base-800);
}
 img {
	 max-width: 100%;
	 height: auto;
	 display: block;
}
 p {
	 margin: var(--base) 0;
}
 ul, ol {
	 padding-left: var(--base);
	 margin: 0 0 var(--base);
}
 a {
	 color: currentColor;
}
 a:focus {
	 opacity: 0.8;
	 outline: none;
}
 a:active {
	 opacity: 0.7;
	 outline: none;
}
 svg {
	 vertical-align: middle;
}
  */
