@import "./preflight.css";
@import "./artistCarousel.css";
@import "./carousel.css";

:root {
  --color-black: #151515;
  --color-gray: #A9A9A9;
  --color-white: #F5F5F5;
  --color-accent: #030D84;
  --color-white-rgb: 245, 245, 245;
  --color-gray-rgb: 169, 169, 169;
  --color-blue-link: #0094FF;
  --color-yellow: #FFB800;
  --rounded-md: 4px;
  --rounded-lg: 8px;
  --base-25: 0.25rem;
  --base-50: 0.5rem;
  --base-100: 1rem;
  --base-150: 1.5rem;
  --base-200: 2rem;
  --base-300: 3rem;
  --base-600: 6rem;
}

/* * {
  outline: gray solid 1px;
} */


/* * {
  box-sizing: border-box;
} */

/* nav {
  width: 98vw;
} */

body {
	background-color: var(--color-white);
}

h1 {
  font-size: var(--base-300);
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 1.5px;
}

h2 {
  font-size: 2.25rem;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 1.5px;
}

h3 {
  font-size: var(--base-150);
  line-height: 1.75;
  font-weight: 400;
}

p {
  font-size: var(--base-100);
  line-height: 1.5;
}

small {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.italic {
  font-style: italic;
}

.light {
  font-weight: 300;
}

.bold {
  font-weight: 700;
}

.semibold {
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.spacedTitle {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 5px;
  font-size: 2.50rem;
  line-height: 1.2;
  word-break: break-word;
  hyphens: manual;
}

.centered {
  margin: auto;
  text-align: center;
  width: 100%;
}

.membersAreaTitle {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: var(--base-100);
}

.flex {
  display: flex;
  flex-direction: column;
}

.block {
  display: block;
}

.right {
  margin-left: auto;
  text-align: right;
}

.container {
  padding: 0 var(--base-600);
}

.padding-y {
  padding-top: var(--base-300);
  padding-bottom: var(--base-300);
}

.padding-y-sm {
  padding-top: var(--base-150);
  padding-bottom: var(--base-150);
}

.padding-x {
  padding-left: var(--base-300);
  padding-right: var(--base-300);
}

.padding-r {
  padding-right: var(--base-600);
}

.padding-l {
  padding-left: var(--base-600);
}

.padding-t {
  padding-top: var(--base-300);
}

.padding-b {
  padding-bottom: var(--base-300);
}

.m-l-auto {
  margin-left: auto;
}

.m-r-auto {
  margin-right: auto;
}

.object-cover {
  object-fit: cover;
}

.order1 {
  order: 1;
}

.order2 {
  order: 2;
}

.rounded {
  border-radius: 100%;
}

.relative {
  position: relative;
}

.sticky {
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--color-white);
}

.gray {
  color: var(--color-gray);
}

.border-t-black {
  border-top: var(--color-black) 1px solid;
}

.border-b-black {
  border-bottom: var(--color-black) 1px solid;
}

.iconTopLeft {
  width: 20px;
}

.iconBottomRight {
  width: 20px;
  transform: rotate(180deg);
  margin-left: auto;
}

.blueLink {
  color: var(--color-accent);
  text-decoration: underline;
}

.form {
  margin-bottom: var(--base-100);
  display: flex;
  flex-direction: column;
  gap: var(--base-100);
  width: 60%;
  margin: auto;
  flex-grow: 0;
}

.message {
  margin-bottom: var(--base-100);
}

.richTextHelpText p {
  line-height: 1.5;
  font-size: small;
}

.richTextHelpText a {
  color: var(--color-accent);
  text-decoration: underline;
}

.bgWhite {
  background-color: var(--color-white);
}


/* .controls:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.5px;
  background-color: var(--color-black);
  margin-bottom: -1px;
  transition: all 0.3s ease;
  opacity: 0;
}

.controls:hover:after {
  opacity: 1;
} */

.activeMenuItem {
font-weight: bold;
}

/* .activeMenuItem:after {
	content: ''; 
	position: absolute;
	bottom: 0; 
	left: 0;
	width: 100%; 
	height: 1.5px; 
	background-color: var(--color-black); 
	margin-bottom: -2px;
} */

.controls {
  position: relative;
  display: block;
  transition: transform 0.3s ease
}

.controls:hover {
  transform: scale(1.07);}


.desktop {
display: block;
}

.mobile {
	display:none;
}

.bg-white {
	background-color: white;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.min-h-screen {
  min-height: 100vh;
}


/* Responsive Styles */
@media (max-width: 850px) {
  .container {
    padding: 0 var(--base-200);
  }
	
	.desktop {
	display: none;
	}

	.mobile {
		display:block
	}

	.padding-y-sm {
		padding-top: var(--base-150);
		padding-bottom: var(--base-150);
	}

	
  .padding-y {
    padding-top: var(--base-200);
    padding-bottom: var(--base-200);
  }

  .padding-x {
    padding-left: var(--base-150);
    padding-right: var(--base-150);
  }

  .padding-r {
    padding-right: var(--base-300);
  }

  .padding-l {
    padding-left: var(--base-300);
  }

  .padding-t {
    padding-top: var(--base-150);
  }

  .padding-b {
    padding-bottom: var(--base-150);
  }

  .form {
    width: 80%;
  }

  h1 {
    font-size: var(--base-200);
  }

  h2 {
    font-size: var(--base-150);
  }

  h3 {
    font-size: var(--base-150);
  }

  h4 {
    font-size: var(--base-100);
  }

	p {
		font-size: var(--base-100);
  	line-height: 1.5;
	}

  .spacedTitle {
    font-size: var(--base-200);
  }

  .form {
    width: 90%;
  }
  
}

