
.title {
  font-weight: bold;
  margin-bottom: 1rem;
}

.pageContent {
  margin-bottom: 2rem;
}

.postsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:2rem 4rem;
}

@media (max-width: 850px) {
  .blogGrid {
    padding: 1rem;
  }
  
  .postsGrid {
    grid-template-columns: 1fr;
  }
} 