
.content {
  padding:  var(--base-200) 0;
  margin: auto 0;
}

.artwork {
  position: relative;
  width: 100%;
  object-fit: contain;
  aspect-ratio: 16/9;
}

.content > * + * {
  margin-top: var(--base-50);
}


@media  (max-width: 768px) {
  .content {
    padding: var(--base-150);
  }
  
}