
.card {
  width: 100%;
  border: var(--color-gray) 0.5px solid;
  border-radius: var(--rounded-md);
}

.avatar {
  position: absolute;
  top: -50%; 
  left: 50%; 
  transform: translateX(-50%); 
  width: 8rem; 
  height: 8rem; 
  border-radius: 100%;
  object-fit: cover;
}

.avatar img {
  border: var(--color-gray) 0.5px solid;
  border-radius: 100%;
  }

.artwork {
  position: relative;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.content {
  position: relative;
  width: 100%;
  margin:auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  min-height: 20vh;
  text-align: center;
  /* padding: var(--base-300); */
}

.info {
  margin-bottom:2rem;
  background-color: white;
}

.info p {
  color: var(--color-gray);
  font-weight: 300;
  font-style: italic;
}

.info > *  + * {
  margin-top: var(--base-100);
}