.bg {
  /* height: 100vh; */
  background: linear-gradient(180deg, black 0%, var(--color-accent) 100%);
  overflow: hidden;
}

.reachOut {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.content {
  grid-column: span 2; 
  text-align: right;
  margin: auto 0;
}

.content > * + * {
  margin-top: var(--base-100);
}

.text {
  color: var(--color-white);
  margin: auto;
}

.title {
  margin: auto;
  color: var(--color-white);
  grid-column: span 1; 
  text-transform: uppercase;
  padding: var(--base-100);
}

.titleElements {
  display: block;
}

@media (max-width: 480px) {
  .reachOut {
    grid-template-columns: repeat(1, 1fr);
  }
  
  .content {
    grid-column: span 1;
    padding-bottom: var(--base-150); 
  }
}
