.switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.15rem;
  color:var(--colar-gray)
}

.localeButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font: inherit;
}

.active {
  font-weight: 600;
}

.fontWhite {
  color: var(--color-white);
}

.fontBlack {
  color: var(--color-black);
}

.fontGray {
  color: var(--color-gray);
}


@media (max-width: 850px) {
  .switcher {
    justify-content: left;
  }
}